#hannah-pic-1 {
    background-image: url(../images/h-bday.jpg);
    padding: 0px 0px 300px 0px;
}

#hannah-pic-2 {
    background-image: url(../images/dan-wedding.jpg);
    padding: 0px 0px 300px 0px;
}

#hannah-pic-3 {
    background-image: url(../images/marathon.jpg);
    padding: 0px 0px 300px 0px;
}

#hannah-pic-4 {
    background-image: url(../images/pork-yom-kippur.jpg);
}

#hannah-pic-5 {
    background-image: url(../images/lichi.jpg);
}

#hannah-pic-6 {
    background-image: url(../images/skication-2018.jpg);
    padding: 0px 0px 200px 0px;
}

#hannah-pic-7 {
    background-image: url(../images/sisters.jpg);
}

#hannah-pic-8 {
    background-image: url(../images/gmen.jpg);
}

#hannah-pic-9 {
    background-image: url(../images/laura-wedding.jpg);
}

#hannah-pic-10 {
    background-image: url(../images/san-diego.jpg);
    padding: 0px 0px 200px 0px;
}

@media (min-width: 600px) {
    #hannah-pic-6,
    #hannah-pic-10 {
        padding: 0px 0px 300px 0px;
    }
}