#topia-1 {
    background-image: url(../images/topia-1.png);
    background-size: contain;
    padding: 0px 0px 200px 0px;
}

#topia-2 {
    background-image: url(../images/topia-2.png);
    background-size: contain;
    padding: 0px 0px 200px 0px;
}