#topia-1 {
    background-image: url(../images/topia-1.png);
    width: 100%;
    background-size: cover;
}

#topia-2 {
    background-image: url(../images/topia-2.png);
    width: 100%;
    background-size: cover;
}