#mj-2 {
    background-image: url(../images/mj-5.jpg);
}

#mj-3 {
    background-image: url(../images/mj-7.JPG);
}

#mj-4 {
    background-image: url(../images/mj-4.jpg);
    transform: rotate(90deg);
    /* padding: 0px 0px 300px 0px;
    background-size: cover; */
}

#mj-5 {
    background-image: url(../images/mj-2.JPG);
}

#mj-6 {
    background-image: url(../images/mj-3.jpg);
    background-size: cover;
}

#mj-7 {
    background-image: url(../images/mj-8.JPG);
}

#mj-8 {
    background-image: url(../images/mj-6.jpg);
    background-size: cover;
}

#mj-9 {
    background-image: url(../images/mj-9.JPG);
}