<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>LiebeskindNEWS - Dad</title>
    <link rel="stylesheet" href="../css/article-1.css">
    <script src="../js/index.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle" id="liebeskind-news-logo">
                Liebeskind<span>NEWS</span>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">The One, the Best, the Dad</div>
            <div class="date">February 15, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <img class="thumb-image" id="img8"></img>
                <figcaption id="image-owner">
                    Dad-man in his element; hanging with the fam and drinking a beer
                </figcaption>
            </div>
            <div class="article">
                <p>
                    Michael, Mike, Mickie, Mr. Liebeskind - to the world he goes by many names 
                    but to the people who love him the most, he goes by Dad. 
                </p>
                <p>
                    It's hard to write a short article about a man who has done so much and means so much. 
                    So we'll break it down...
                </p>  
                <p>
                    <b>His Best Decision</b>
                    <p>
                        It is undeniable that Dad has made many wonderful decisions: going to Princeton, starting his own business, 
                        having a fourth kid (still up in the air whether that was a decision or lucky surprise), and
                        being nice to the nice list only a short few. Without doubt, the best decision he ever made, was marrying Sue (mom). 
                    </p>
                    <p>
                        Not only are they super cute together but she was the best and she taught him to be the best!
                    </p>
                    <div class="in-article-images" id="dad1"></div>
                </p>
                <p>
                    <b>Dadding</b>
                    <p>
                        If you asked him, I bet he would say the thing he is best at in the world is inventing services 
                        that help the ultra-affluent navigate life insurance and annuity investments. But his true greatest strength
                        is dadding. 
                    </p>
                    <p>
                        For the last 34 years he taught his kids to be nice and compassionate yet competitive and sharp. He taught them
                        to prioritize education and work hard but to live life to the fullest and to allow themselves to have fun. 
                        He taught them to be inventors, rule breakers, and inquisitors. He taught them live joyfully, embrace experiences, 
                        and seek out new opportunities. He taught them to love unconditionally, care for one another deeply, and express
                        their emotions. He taught them so many things we can't capture in a paragraph or maybe in words at all. 
                    </p>
                    <p>
                        Dadding is both his talent and his skill. 
                    </p> 
                    <div class="image-collage">
                        <div class="collage-image" id="dad2"></div>
                        <div class="collage-image" id="dad3"></div>
                        <div class="collage-image" id="dad4"></div>
                        <div class="collage-image" id="dad5"></div>
                        <div class="collage-image" id="dad6"></div>
                        <div class="collage-image" id="dad7"></div>
                        <div class="collage-image" id="dad8"></div>
                        <div class="collage-image" id="dad9"></div>
                    </div>
                </p>
                <p>
                    <b>Working</b>
                    <p>
                        Winged Keel, SALI, Covala, Golconda, Mandorlo International, Life Policy Management, Vertica, the Black Stallion. 
                        8 companies and a whole lot of hard work makes this dad an inspiration and role model. 
                    </p>
                    <div class="in-article-images" id="dad14"></div>
                </p>
                <p>
                    <b>Fun</b>
                    <p>
                        The saying "work hard, play hard" has met its match with this Dad. 
                        He travels, he laughs, and he goofs. 
                    </p>
                    <div class="image-collage">
                        <div class="collage-image" id="dad10"></div>
                        <div class="collage-image" id="dad11"></div>
                        <div class="collage-image" id="dad12"></div>
                        <div class="collage-image" id="dad13"></div>
                    </div>
                </p>
                <p>
                    For all of these reasons, and so many more, he has officially been given the title of <b><u>#1 DAD</u></b>
                    according to the Liebeskind<span>NEWS</span>.
                </p>
            </div>
        </div>
        <section class="author-bio">
            <h2>About the Author</h2>
            <div class="author-card">
                <div class="author-image" id="author-1"></div>
                <div class="author-info">
                    <div class="author-name"><b>Seamore Butts</b></div>
                    <div class="author-title">Liebeskind Family Expert & Enthusiest</div>
                    <div class="author-school"><em>University of Liebes</em></div>
                    <p class="author-description">
                        Seamore was born in Armonk New York a long long long long long time ago. 
                        After doing some stuff in life, he learned of the Liebeskind Dream Team while 
                        floating down a lazy river in Sunriver Oregon. Tails of their sing-a-long sessions
                        inspired him and at once he was captivated by their goofyness. Today Seamore writes
                        content exclusively for the Liebeskind<span>NEWS</span>.
                    </p>
                </div>
            </div>
        </section>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title" id="subscription-head">
                        Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!
                    </h2>
                    <p class="article-snippet" id="subscription-body">
                        Never miss a beat! Stay connected through our monthly updates 
                        that bring important information right to  you!
                    </p>
                    <div class="subscription" id="subscription-box">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription" id="subscription-button">
                        <input type="submit" value="Subscribe!" class="submit-button" onclick=" return changeSubscription()">
                    </div>
                </div>
            </div>
            <a href="article-5.html" id="item6" class="article-card">
                <img class="bar-thumb" id="img6"></img>
                <div class="article-description">
                    <h2 class="article-title">Dressed to Impress</h2>
                    <p class="article-snippet">
                        From pirates to Santa Clause, the Dream Team
                        stepped up their dress-up game this year. See which (and witch)
                        outfits they rocked here!
                    </p>
                    <div class='details'>
                        <p>
                            Starting from a young age the Dream Team took<br><br>
                            Halloween seriously! Here are just a few memories:<br><br>
                            <ul>
                                <li>Scary: Witches, haunted house ghosts, zombies</li>
                                <li>Cute: cheetah, little old lady, 3 blind mice</li>
                                <li>Tasty: McD's French Fries, Hannah banana</li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-6.html" id="item7" class="article-card">
                <img class="bar-thumb" id="img7"></img>
                <div class="article-description">
                    <h2 class="article-title">M & J Do Cute Stuff</h2>
                    <p class="article-snippet">
                        Throughout their 7 years of dating, Molly (Monkey, Moo-cow, 
                        Magic, Smalls, Mini, Fun-Size Liebeskind) and Jakey (just Jakey)
                        have taken some pretty cute pics. Open to see more!
                    </p>
                    <div class='details'>
                        <p>
                            Detail line 1<br><br>
                            Detail line 2<br><br>
                            Detail list
                            <ul>
                                <li>something <em>(required)</em></li>
                                <li>Something else <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>