<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Example New Site</title>
    <link rel="stylesheet" href="../css/article-1.css">
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle">
                <h1>Liebeskind<span>NEWS</span></h1>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">Birthday Ballooza</div>
            <div class="date">February 10, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <div class="thumb-image" id="img2"></div>
                <div id="image-owner">Middle middle, Hannah Liebeskind, of the Liebeskind clan
                        prepares for her 29th birthday bash in what people are 
                        calling "an elogantly mind-bending one-of-a-kind event."</div>
            </div>
            <div class="article">
                <p>
                    "The bash of the century", "Hyper than hype", "A time to remember (if you can)". The reaction
                    are big and so is the event. 
                </p>
                <p>
                    Hannah (Hanzie) enters her final year of her 20s with a bang - or a banger might be more accurate.
                    Since she wsa young, Hanzie has been known for being loud, aggressive, and wild. It's no wonder
                    she is demanding the spotlight for her 29th. 
                </p>
                <p>
                    How better to prepare than to remember some of the best moments (or at least the documented moments)
                    from the last 5 years (ish). 
                </p>
                <p>
                    <b>Champain Poppin 25th Birthday</b>
                    <div class="in-article-images" id="hannah-pic-1"></div>
                </p>
                <p>
                    <b>D & D Wedding</b>
                    <div class="in-article-images" id="hannah-pic-2"></div>
                </p>
                <p>
                    <b>26.2 Miles Through All 5 Boroughs</b>
                    <div class="in-article-images" id="hannah-pic-3"></div>
                </p>
                <p>
                    <b>Pork-Bun Yom Kippur</b>
                    <div class="in-article-images" id="hannah-pic-4"></div>
                </p>
                <p>
                    <b>Lichi Martini Yom Kippur Break</b>
                    <div class="in-article-images" id="hannah-pic-5"></div>
                </p>
                <p>
                    <b>Skication 2018</b>
                    <div class="in-article-images" id="hannah-pic-6"></div>
                </p>
                <p>
                    <b>Being Super Cute With Her Lil Sis</b>
                    <div class="in-article-images" id="hannah-pic-7"></div>
                </p>
                <p>
                    <b>Celebrating the Gmen with Dad</b>
                    <div class="in-article-images" id="hannah-pic-8"></div>
                </p>
                <p>
                    <b>MOH at Her Cousin / Besties Wedding</b>
                    <div class="in-article-images" id="hannah-pic-9"></div>
                </p>
                <p>
                    <b>Family Trip to San Diego</b>
                    <div class="in-article-images" id="hannah-pic-10"></div>
                </p>
                <p>
                    It has clearly been a spectacular 5(ish) years for Hanzie and her 29th is sure to top it off right. 
                </p>
            </div>
        </div>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title">Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!</h2>
                    <p class="article-snippet">
                        Never miss a beat! Stay connected through our monthly updates that bring important information right to  you!
                    </p>
                    <div class="subscription">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription">
                        <input type="submit" value="Subscribe!" class="submit-button">
                    </div>
                </div>
            </div>
            <a href="blog-post.html" id="item2" class="article-card">
                <div class="bar-thumb" id="img5"></div>
                <div class="article-description">
                    <h2 class="article-title">Conquering Distance One Topi at a Time</h2>
                    <p class="article-snippet">
                        Combating the physical barriers to personal interaction, only boy
                        Daniel of the Liebeskind clan releases Topia - a personalized
                        experience that brings humanity back to video chatting. 
                    </p>
                    <div class='details'>
                        <p>
                            Key events:<br><br>
                            <ul>
                                <li>Dan has an idea and puts himself to work <em>(April 2020)</em></li>
                                <li>Topia.io launches <em>(2 days later)</em></li>
                                <li>Topia is named top 12 product of the year <em>(January 2021)</em></li>
                                <li>Topia sells for a gazillion dollars and dan donates half of his money to his sisters and dad <em>(April 2021)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-3.html" id="item3" class="article-card">
                <div class="bar-thumb" id="img3"></div>
                <div class="article-description">
                    <h2 class="article-title">From Jingle Bells To Wedding Bells</h2>
                    <p class="article-snippet">
                        Love is in the air this Valentine's day as family celebrity couple 
                        Bom (Bec and Tom) get engaged - adding 4 new critters to the 
                        Liebeskind clan. See their story and the critters here. 
                    </p>
                    <div class='details'>
                        <p>
                            Detail line 1<br><br>
                            Detail line 2<br><br>
                            Detail list
                            <ul>
                                <li>something <em>(required)</em></li>
                                <li>Something else <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>
