<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>LiebeskindNEWS - Wedding Bells</title>
    <link rel="stylesheet" href="../css/article-1.css">
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle">
                <h1>Liebeskind<span>NEWS</span></h1>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">From Jingle Bells to Wedding Bells</div>
            <div class="date">February 14, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <div class="thumb-image" id="img3"></div>
                <figcaption id="image-owner">Bec and Tom, San Diego 2020</figcaption>
            </div>
            <div class="article">
                <p>
                    Destiny, faith, aligned stars.
                </p>    
                <p>
                    After years of cuddles, cuteness, and goofs these two love birds are tying the knot.
                    Before they walk down aisle, we decided to take a look down memory lane...
                </p>  
                <p>
                    <b>B & T Take on the Farmers Market</b>
                    <p>
                        Known for their love of food and cooking, B & T spend at least 4 hours 
                        each weekend at the farmers market.
                    </p>
                    <div class="in-article-images" id="bec3"></div>
                </p>
                <p>
                    <b>Watching the Game at the Bar</b>
                    <p>
                        As athletes themselves, it is only natural for B & T to spend their time 
                        hopping from bar-to-bar streaming football, basketball, and their most favorite, 
                        curling.
                    </p>
                    <div class="in-article-images" id="bec4"></div>
                </p>
                <p>
                    <b>Traveling in Style</b>
                    <p>
                        Big believers that the first class is the best class, B & T travel at high heights
                        and in heigh fashion!
                    </p>
                    <div class="in-article-images" id="bec6"></div>
                </p>
                <p>
                    <b>Fun in the Sun</b>
                    <p>
                        While B & T love to enjoy their time in the sun, they always make sure Tom is fully 
                        protected. 
                    </p>
                    <div class="in-article-images" id="bec5"></div>
                </p>
                <p>
                    <b>Jingle Bells with the Girls</b>
                    <p>
                        In addition to Tom, Bec brings a new winter holiday and these two cuties into the Dream Team. 
                    </p>
                    <div class="in-article-images" id="bec2"></div>
                </p>
                <p>
                    Is it Destiny, faith, or aligned stars? It's hard to say for sure but one thing we do know, it's perfect!
                </p>
            </div>
        </div>
        <section class="author-bio">
            <h2>About the Author</h2>
            <div class="author-card">
                <div class="author-image" id="author-1"></div>
                <div class="author-info">
                    <div class="author-name"><b>Seamore Butts</b></div>
                    <div class="author-title">Liebeskind Family Expert & Enthusiest</div>
                    <div class="author-school"><em>University of Liebes</em></div>
                    <p class="author-description">
                        Seamore was born in Armonk New York a long long long long long time ago. 
                        After doing some stuff in life, he learned of the Liebeskind Dream Team while 
                        floating down a lazy river in Sunriver Oregon. Tails of their sing-a-long sessions
                        inspired him and at once he was captivated by their goofyness. Today Seamore writes
                        content exclusively for the Liebeskind<span>NEWS</span>.
                    </p>
                </div>
            </div>
        </section>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title">Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!</h2>
                    <p class="article-snippet">
                        Never miss a beat! Stay connected through our monthly updates that bring important information right to  you!
                    </p>
                    <div class="subscription">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription">
                        <input type="submit" value="Subscribe!" class="submit-button">
                    </div>
                </div>
            </div>
            <a href="article-4.html" id="item2" class="article-card">
                <div class="bar-thumb" id="img5"></div>
                <div class="article-description">
                    <h2 class="article-title">Conquering Distance One Topi at a Time</h2>
                    <p class="article-snippet">
                        Combating the physical barriers to personal interaction, only boy
                        Daniel of the Liebeskind clan releases Topia - a personalized
                        experience that brings humanity back to video chatting. 
                    </p>
                    <div class='details'>
                        <p>
                            Key events:<br><br>
                            <ul>
                                <li>Dan has an idea and puts himself to work <em>(April 2020)</em></li>
                                <li>Topia.io launches <em>(2 days later)</em></li>
                                <li>Topia is named top 12 product of the year <em>(January 2021)</em></li>
                                <li>Topia sells for a gazillion dollars and dan donates half of his money to his sisters and dad <em>(April 2021)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-6.html" id="item7" class="article-card">
                <div class="bar-thumb" id="img7"></div>
                <div class="article-description">
                    <h2 class="article-title">M & J Do Cute Stuff</h2>
                    <p class="article-snippet">
                        Throughout their 7 years of dating, Molly (Monkey, Moo-cow, 
                        Magic, Smalls, Mini, Fun-Size Liebeskind) and Jakey (just Jakey)
                        have taken some pretty cute pics. Open to see more!
                    </p>
                    <div class='details'>
                        <p>
                            Detail line 1<br><br>
                            Detail line 2<br><br>
                            Detail list
                            <ul>
                                <li>something <em>(required)</em></li>
                                <li>Something else <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>
