<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>LiebeskindNEWS - Vacation</title>
    <link rel="stylesheet" href="../css/article-1.css">
    <script src="../js/index.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <div class="nav-middle">
                <a href="../index.html" id="liebeskind-news-logo"> Liebeskind<span>NEWS</span></a>
            </div>
            <!-- <a href="../index.html" class="nav-middle" id="liebeskind-news-logo">
                Liebeskind<span>NEWS</span>
            </a> -->
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">2021's Hottest Events</div>
            <div class="date">February 9, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <img class="thumb-image" id="img1"></img>
                <figcaption id="image-owner">Featured: 2022 US X-Games Ski Team</figcaption>
            </div>
            <div class="article">
                <p>2021 kicked off hot for the Dream Team! </p>
                <p>
                    Topping off Molly and Jacob's month-long stay in Park City, the family
                    joined the two of them slope-side for some down-hill shredding.
                </p>
                <p> Flips, 360, and all around gnarly skiing. Below we recap key acheivements for each of our athletes.</p>
                <p>
                    <b><u>Hannah:</u></b> <br>Known as a catiously consistent skiier, Hannah showed that while slow and steady
                    might not get you down the mountain first, it does allow you to tackle cooler mountains.
                    After only one day on the mountain Hannah slammed a black diamond <em>with moguls</em>! 
                    Hungry for more, she spent days two and three crushing bumps and even dipped
                    into a small wooded path. <br>
                </p>
                <p>
                    <b><u>Bec: </u></b> <br>Rocking brand-new K2 Mind-Benders and the only flattering snow-pants we've 
                    ever seen, Bec took to the slopes with passion in her eyes. Flaunting new boots, 
                    she nailed turn after turn without a single fall, all while filming her possy of snowboarder bros.
                    And it didn't go without notice that Bec stayed up past 10 every single night. 
                    <br><em>(disclaimer: Bec is officially sponsored by K2)</em>
                </p>
                <p>
                    <b><u>Tom & The Boys: </u></b> <br>Making their first appearance at a Liebeskind vacation, Nick and 
                    Jack came to play! After just hours on a board, they launched their free-styling careers,
                    popping S turns left and right and floating over jumps. Of course, we know their inspiration
                    came from fearless leader and proud dad Tom who, after eventually getting up, effortlessly cruised down
                    the slopes - proving to everyone that 8 years off won't hold him back.
                </p>
                <p>
                    <div class="in-article-images" id="pc-pic3"></div>
                </p>
                <p>
                    <b><u>Dad-Man Michael: </u></b> <br>Grace is an understatement. Viewers everywher were amazed by the ease in
                    which Michael slipped on his skis and after 2-years off showed no nerves as he glided down-hill. 
                    And equally impressively, throughout the trip Michael upgraded his gear - eventually almost 
                    blinding the competition with the contrast of his dark-shade goggles and rainbow face mask.
                </p>
                <p>
                    <div class="in-article-images" id="pc-pic1"></div>
                </p>
                <p>
                    <b><u>Molly & Jacob: </u></b> <br>Trees, moguls, and jumps, nothing stops these two. Although the steepest 
                    hills come with fear and I-can't from Molly, Jacob's can-do attitude and at times stupidity,
                    drove them to conquer and even love the blacks and double-blacks. You could see the joy in their faces
                    at their opportunity to ski with their family and show off their new skillz. 
                </p> 
                <p>
                    <div class="in-article-images" id="pc-pic2"></div>
                </p>
                <p>
                    Although the week was filled with big dinners, group game nights (shout out to Jack for winning hearts)
                    and lots of love, there was one undeniable sadness. 

                    <blockquote>"We love to be together. But it isn't the same without our big bro."</blockquote>

                    Said enough it basically became a moto - the event couldn't be perfect without an appearance from
                    Dan, Danielle, and Lina. A trio that brings so much joy, fun, and inspiration to the rest of the 
                    group. 
                </p>
                <p>
                    <b><u>Up next: </u></b><br>
                    The good news - the fun never stops with this Dream Team. Next stop, reuniting as a full crew at 
                    <a href="https://www.blackstallionobx.com/#best-outer-banks-venue" target="_blank">The Black Stallion </a>, their 24-bedroom crib in The Outer Banks. March 8 - 21, we'll see you there.
                </p>
                <p>
                    <b><u>OBX Packing List: </u></b>
                    <ul>
                        <li>Negative covid test <em>(required)</em></li>
                        <li>Positive attitude <em>(required)</em></li>
                        <li>Games for the whole fam to play <em>(optional)</em></li>
                    </ul>
                </p>
                <p>
                    Check backs for updates as the adventures continue...
                </p>
            </div>
        </div>
        <section class="author-bio">
            <h2>About the Author</h2>
            <div class="author-card">
                <div class="author-image" id="author-1"></div>
                <div class="author-info">
                    <div class="author-name"><b>Seamore Butts</b></div>
                    <div class="author-title">Liebeskind Family Expert & Enthusiest</div>
                    <div class="author-school"><em>University of Liebes</em></div>
                    <p class="author-description">
                        Seamore was born in Armonk New York a long long long long long time ago. 
                        After doing some stuff in life, he learned of the Liebeskind Dream Team while 
                        floating down a lazy river in Sunriver Oregon. Tails of their sing-a-long sessions
                        inspired him and at once he was captivated by their goofyness. Today Seamore writes
                        content exclusively for the Liebeskind<span>NEWS</span>.
                    </p>
                </div>
            </div>
        </section>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title" id="subscription-head">
                        Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!
                    </h2>
                    <p class="article-snippet" id="subscription-body">
                        Never miss a beat! Stay connected through our monthly updates 
                        that bring important information right to  you!
                    </p>
                    <div class="subscription" id="subscription-box">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription" id="subscription-button">
                        <input type="submit" value="Subscribe!" class="submit-button" onclick=" return changeSubscription()">
                    </div>
                </div>
            </div>
            <a href="article-2.html" id="item2" class="article-card">
                <img class="bar-thumb" id="img2"></img>
                <div class="article-description">
                    <h2 class="article-title">Birthday Ballooza</h2>
                    <p class="article-snippet">
                        Middle middle, Hannah Liebeskind, of the Dream Team
                        prepares for her 29th birthday bash in what people are 
                        calling "an elogantly mind-bending one-of-a-kind event."
                    </p>
                    <div class='details'>
                        <p>
                            Location: 1325 N Wells Apt 605 Chicago, IL 60610<br><br>
                            Date: February 19<br><br>
                            Requirements:
                            <ul>
                                <li>Presents <em>(required)</em></li>
                                <li>Presence <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-3.html" id="item3" class="article-card">
                <img class="bar-thumb" id="img3"></img>
                <div class="article-description">
                    <h2 class="article-title">From Jingle Bells To Wedding Bells</h2>
                    <p class="article-snippet">
                        Love is in the air this Valentine's day as family celebrity couple 
                        Bom (Bec and Tom) get engaged - adding 4 new critters to the 
                        Dream Team. See their story and the critters here. 
                    </p>
                    <div class='details'>
                        <p>
                            Detail line 1<br><br>
                            Detail line 2<br><br>
                            Detail list
                            <ul>
                                <li>something <em>(required)</em></li>
                                <li>Something else <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>
