<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Example New Site</title>
    <link rel="stylesheet" href="../css/article-1.css">
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle">
                <h1>Liebeskind<span>NEWS</span></h1>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
    </div>
    <div class="content">
        <p>THIS PAGE ISN'T BUILT YET. COME BACK SOON!</p>
    </div>
</body>