<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>LiebeskindNEWS - M & J</title>
    <link rel="stylesheet" href="../css/article-1.css">
    <script src="../js/index.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle" id="liebeskind-news-logo">
                Liebeskind<span>NEWS</span>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">M & J Do Cute Stuff</div>
            <div class="date">February 15, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <img class="thumb-image" id="img7"></img>
                <figcaption id="image-owner">
                    Molly and Jacob casually hanging in the woods
                </figcaption>
            </div>
            <div class="article">
                <p>
                    They're in love and engaged which means they've taken quite a few cute pictures recently. 
                </p>    
                <p>
                    <b>The big question</b>
                    <div class="in-article-images" id="mj-2"></div>
                </p>
                <p>
                    <b>Young(ish) and In Love</b>
                    <div class="in-article-images" id="mj-3"></div>
                </p>
                <p>
                    <b>Fancy Pants</b>
                    <div class="in-article-images" id="mj-4"></div>
                </p>
                <p>
                    <b>Snuggles</b>
                    <div class="in-article-images" id="mj-5"></div>
                </p>
                <p>
                    <b>Their Best 6 Weeks</b>
                    <div class="in-article-images" id="mj-6"></div>
                </p>
                <p>
                    <b>Stud-Muffins</b>
                    <div class="in-article-images" id="mj-7"></div>
                </p>
                <p>
                    <b>Smoochin in a Suite</b>
                    <div class="in-article-images" id="mj-8"></div>
                </p>
                <p>
                    <b>Warm and Fuzzy</b>
                    <div class="in-article-images" id="mj-9"></div>
                </p>
                <p>
                    Need more? See the rest of their engagement photos <a href="https://proofs.timtabstudios.com/mollyandjacob/f/13006867/">here</a>.
                </p>
            </div>
        </div>
        <section class="author-bio">
            <h2>About the Author</h2>
            <div class="author-card">
                <div class="author-image" id="author-1"></div>
                <div class="author-info">
                    <div class="author-name"><b>Seamore Butts</b></div>
                    <div class="author-title">Liebeskind Family Expert & Enthusiest</div>
                    <div class="author-school"><em>University of Liebes</em></div>
                    <p class="author-description">
                        Seamore was born in Armonk New York a long long long long long time ago. 
                        After doing some stuff in life, he learned of the Liebeskind Dream Team while 
                        floating down a lazy river in Sunriver Oregon. Tails of their sing-a-long sessions
                        inspired him and at once he was captivated by their goofyness. Today Seamore writes
                        content exclusively for the Liebeskind<span>NEWS</span>.
                    </p>
                </div>
            </div>
        </section>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title" id="subscription-head">
                        Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!
                    </h2>
                    <p class="article-snippet" id="subscription-body">
                        Never miss a beat! Stay connected through our monthly updates 
                        that bring important information right to  you!
                    </p>
                    <div class="subscription" id="subscription-box">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription" id="subscription-button">
                        <input type="submit" value="Subscribe!" class="submit-button" onclick=" return changeSubscription()">
                    </div>
                </div>
            </div>
            <a href="article-1.html" id="item1" class="article-card">
                <img class="bar-thumb" id="img1"></img>
                <div class="article-description">
                    <h2 class="article-title">2021's Hottest Events</h2>
                    <p class="article-snippet">
                        The dream team kicks off 2021 with a series of show-stopping events.
                        First stop, slope side Park City, UT. Second stop, 
                        24-bedroom crib in the Outer Banks, North Carolina.
                    </p>
                    <div class='details'>
                        <p>
                            Learn about the gnarliest shred-sesh of the decade and the OBX trip that
                            is still to come.
                        </p>
                        <p>
                            Highlights
                            <ul>
                                <li>New gear, an official sponsorship, and the level-up no one saw coming</li>
                                <li>Confirmed negative covid test before and after</li>
                                <li>New athlete appearances</li>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-8.html" id="item9" class="article-card">
                <img class="bar-thumb" id="img9"></img>
                <div class="article-description">
                    <h2 class="article-title">Fun Facts You Didn't Know</h2>
                    <p class="article-snippet">
                        Extra tid-bits and joys about the Dream Team 
                        for you to enjoy.
                    </p>
                    <div class='details'>
                        <p>
                            Who started the overall trend? 
                            What is this year's 'snow man'?
                            Whos portrait is selling on ebay? 
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>
