<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>LiebeskindNEWS - Fun Facts</title>
    <link rel="stylesheet" href="../css/article-1.css">
</head>
<body>
    <div class="main-container">
        <div class="navigation"> 
            <a href="../index.html" class="nav-left" id="logo"></a>
            <a href="../index.html" class="nav-middle">
                <h1>Liebeskind<span>NEWS</span></h1>
            </a>
            <a href="subscribe.html" class="nav-right">Subscribe!</a>
        </div>
        <div class="content">
            <div class="title">Fun Facts You Didn't Know</div>
            <div class="date">February 15, 2021</div>
            <div class="social-links">
                <div class="social-icon" id="facebook-icon"></div>
                <div class="social-icon" id="twitter-icon"></div>
                <div class="social-icon" id="linkedin-icon"></div>
                <div id="icon-bar"></div>
            </div>
            <div class="thumb">
                <div class="thumb-image" id="img9"></div>
                <figcaption id="image-owner">
                    Family looking normal(ish) on the outside... but when you get to know them, they're very strange...
                </figcaption>
            </div>
            <div class="article">
                <p>
                    <b>In the annual Sibling Rule Making Summit, they agreed that chicken nuggets may be prioritzed over fellow
                        siblings
                    </b>
                    <div class="in-article-images" id="funfact1"></div>
                </p>
                <p>
                    <b>Scar actually brought overalls back in 2014</b>
                    <div class="in-article-images" id="funfact2"></div>
                </p>
                <p>
                    <b>Heather made this humongous snow turtle</b>
                    <div class="in-article-images" id="funfact3"></div>
                </p>
                <p>
                    <b>Zoe rocks shades (and Burton made the family news)</b>
                    <div class="in-article-images" id="funfact4"></div>
                </p>
                <p>
                    <b>Scientist recently discovered a new carnivor, the Jakeosourus</b>
                    <div class="in-article-images" id="funfact5"></div>
                </p>
                <p>
                    <b>This cardboard cutout of Molly recently sold on Ebay for $100,000,000</b>
                    <div class="in-article-images" id="funfact6"></div>
                </p>
                <p>
                    <b>Legend has it, the girl seated second to the left in the image below haunts kids in their
                        dreams and this photo is what generated her in the first place.
                    </b>
                    <div class="in-article-images" id="funfact8"></div>
                </p>
            </div>
        </div>
        <section class="author-bio">
            <h2>About the Author</h2>
            <div class="author-card">
                <div class="author-image" id="author-1"></div>
                <div class="author-info">
                    <div class="author-name"><b>Seamore Butts</b></div>
                    <div class="author-title">Liebeskind Family Expert & Enthusiest</div>
                    <div class="author-school"><em>University of Liebes</em></div>
                    <p class="author-description">
                        Seamore was born in Armonk New York a long long long long long time ago. 
                        After doing some stuff in life, he learned of the Liebeskind Dream Team while 
                        floating down a lazy river in Sunriver Oregon. Tails of their sing-a-long sessions
                        inspired him and at once he was captivated by their goofyness. Today Seamore writes
                        content exclusively for the Liebeskind<span>NEWS</span>.
                    </p>
                </div>
            </div>
        </section>
        <div class="additional-content">
            <div id="item4" class="article-card">
                <div class="article-description">
                    <h2 class="subscription-title">Sign up to receive the Liebeskind<span>NEWS</span> monthly letter!</h2>
                    <p class="article-snippet">
                        Never miss a beat! Stay connected through our monthly updates that bring important information right to  you!
                    </p>
                    <div class="subscription">
                        <input type="text" name="subscription-box" class="subscription-box" placeholder="Enter your email" required>
                    </div>
                    <div class="subscription">
                        <input type="submit" value="Subscribe!" class="submit-button">
                    </div>
                </div>
            </div>
            <a href="article-1.html" id="item1" class="article-card">
                <div class="bar-thumb" id="img1"></div>
                <div class="article-description">
                    <h2 class="article-title">2021's Hottest Events</h2>
                    <p class="article-snippet">
                        The dream team kicks off 2021 with a series of show-stopping events.
                        First stop, slope side Park City, UT. Second stop, 
                        24-bedroom crib in the Outer Banks, North Carolina.
                    </p>
                    <div class='details'>
                        <p>
                            Learn about the gnarliest shred-sesh of the decade and the OBX trip that
                            is still to come.
                        </p>
                        <p>
                            Highlights
                            <ul>
                                <li>New gear, an official sponsorship, and the level-up no one saw coming</li>
                                <li>Confirmed negative covid test before and after</li>
                                <li>New athlete appearances</li>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
            <a href="article-3.html" id="item3" class="article-card">
                <div class="bar-thumb" id="img3"></div>
                <div class="article-description">
                    <h2 class="article-title">From Jingle Bells To Wedding Bells</h2>
                    <p class="article-snippet">
                        Love is in the air this Valentine's day as family celebrity couple 
                        Bom (Bec and Tom) get engaged - adding 4 new critters to the 
                        Liebeskind clan. See their story and the critters here. 
                    </p>
                    <div class='details'>
                        <p>
                            Detail line 1<br><br>
                            Detail line 2<br><br>
                            Detail list
                            <ul>
                                <li>something <em>(required)</em></li>
                                <li>Something else <em>(required)</em></li>
                                <br>
                            </ul>
                        </p>
                    </div>
                    <div class="author">Seamore Butts</div>
                </div>
            </a>
        </div>
        <div class="footer">Copywrite LoveChild LLC.</div>
    </div>
</body>